.row
  .small-7.medium-5.large-4.column.end.small-centered.card
    .card-top
      a(href='#0')
        .overlay
          h1 READ
      img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/324479/yeti.png').card-img
    .triangle
      .circle-button#circleDrop
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/324479/close.svg').close
    .card-middle
      h5.more Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cumque natus delectus praesentium laudantium molestias.
    .card-bottom.text-center
      h2.card-title Foundation