{%load static %}

<!DOCTYPE html>
<html lang="pt-br" >
<head>
  <meta charset="UTF-8">
  <title>Lista de Tarefas</title>
  <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="{%static './style.css' %}">
<link rel="stylesheet" href="{%static './style-alert.css' %}">
<link rel="stylesheet" href="{%static './style-profile.css' %}">
<link rel="stylesheet" href="{%static './style-forca.css' %}">


<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

<script src="https://kit.fontawesome.com/501fbf0890.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
 <div class="user-profile-area">
  <div class="task-manager"> Minha Lista de Tarefas =) </div>
  <div class="side-wrapper">
   <div class="user-profile">
    <img src="{{user.profile.image.url}}" alt="" class="user-photo">
    <div class="user-name">
            {% if request.user.is_authenticated %}
                <p>  Olá,  <b style="text-transform: capitalize" />  
                <b> <big>{{user.username}}</b></big>. </u>
                 <br>
                 </b> Seja bem vindo! </p>
           
            {% else %}
                <a href="{% url 'login' %}">Entrar no sistema </a>
            {% endif %}
    </div>
    <div class="user-mail">{{user.email}}</div>
   </div>
   <div class="user-notification">
    <div class="notify">
    <a href = "{% url 'profile' %}">
      <i class="fas fa-user-alt fa-2x"></i>
    </div>
   </a>


    <!-- <div class="notify">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
      <path d="M467.812 431.851l-36.629-61.056a181.363 181.363 0 01-25.856-93.312V224c0-67.52-45.056-124.629-106.667-143.04V42.667C298.66 19.136 279.524 0 255.993 0s-42.667 19.136-42.667 42.667V80.96C151.716 99.371 106.66 156.48 106.66 224v53.483c0 32.853-8.939 65.109-25.835 93.291L44.196 431.83a10.653 10.653 0 00-.128 10.752c1.899 3.349 5.419 5.419 9.259 5.419H458.66c3.84 0 7.381-2.069 9.28-5.397 1.899-3.329 1.835-7.468-.128-10.753zM188.815 469.333C200.847 494.464 226.319 512 255.993 512s55.147-17.536 67.179-42.667H188.815z" /></svg>
    </div> !-->
   </div>
   <div class="progress-status">{{count}}</div>
   <div class="progress">
    <div class="progress-bar"></div>
   </div>
   <div class="task-status">
    <div class="task-stat">
     <div class="task-number">{{count}}</div>
     <div class="task-condition">A Fazer </div>
     <div class="task-tasks">tarefa{{count|pluralize:"s"}}</div>
    </div>
    <div class="task-stat">
     <div class="task-number">{{countcomplete}}</div>
     <div class="task-condition">Completada{{countcomplete|pluralize:"s"}} </div>
     <div class="task-tasks">tarefa{{countcomplete|pluralize:"s"}} </div>
    </div>
    <div class="task-stat">
     <div class="task-number">{{counttotal}}</div>
     <div class="task-condition">Total</div>
     <div class="task-tasks">tarefa{{counttotal|pluralize:"s"}}</div>
    </div>
   </div>
  </div>
  <div class="side-wrapper">
   <div class="project-title">Jogo da Forca</div>


<section>
  <svg viewBox="0 0 75 93.8">
  <path id="structure" d="M85.9 12.5a1.6 1.6 0 001.6-1.6V4.7a1.6 1.6 0 00-1.6-1.6H14.1a1.6 1.6 0 00-1.6 1.6v6.2a1.6 1.6 0 001.6 1.6h4.7v82.8a1.5 1.5 0 001.5 1.6h6.3a1.6 1.6 0 001.5-1.6V39.7l27.2-27.2h7.2v6.4h3.1v-6.4zM25 93.8h-3.1V12.5H25zm3.1-58.5v-5L46 12.5h4.9zm0-9.4V12.5h13.4zM15.6 9.4V6.2h68.8v3.2z" transform="translate(-12.5 -3.1)"/>
  <path id="head" d="M64.1 43.8a4.7 4.7 0 004.7-4.7v-4.7a8.1 8.1 0 003.1-6.3v-1.5a7.9 7.9 0 00-6.2-7.7h-3.2a8.1 8.1 0 00-6.3 7.7v1.5a8.2 8.2 0 003.2 6.3v4.7a4.7 4.7 0 004.7 4.7zm1.5-4.7a1.5 1.5 0 01-1.5 1.5 1.6 1.6 0 01-1.6-1.5v-3.2h3.1zm-6.2-12.5a4.7 4.7 0 019.4 0v1.5a4.7 4.7 0 01-9.4 0z" transform="translate(-12.5 -3.1)"/>
  <path id="arm-l" d="M42.1 47.9a4.9 4.9 0 006.9 6.9l4.1-4.2-6.8-6.9zm8.8.5l-4.2 4.2a1.6 1.6 0 01-2.4 0 1.8 1.8 0 010-2.5l4.1-4.1z" transform="translate(-12.5 -3.1)"/>
  <path id="arm-r" d="M86.1 47.9l-4.2-4.1-2.2 2.2 4.2 4.1a2.1 2.1 0 01.5 1.3 1.8 1.8 0 01-1.8 1.7 1.8 1.8 0 01-1.2-.5l-4.2-4.2-2.2 2.2 4.2 4.2a4.9 4.9 0 106.9-6.9z" transform="translate(-12.5 -3.1)"/>
  <path id="leg-l" d="M59.4 81.2h-3.2V62.5h-3.1v18.8a3.9 3.9 0 00-3 4.6 3.8 3.8 0 003.8 3.2h7a1.6 1.6 0 001.6-1.6v-25h-3.1zm0 4.7h-5.5a.8.8 0 01-.8-.7.8.8 0 01.8-.8h5.5z" transform="translate(-12.5 -3.1)"/>
  <path id="torso" d="M77.2 48.4l2.5-2.4 2.2-2.2-7.4-7.4a1.4 1.4 0 00-1.1-.5h-4.6v3.2h4l4.7 4.7-2.5 2.4-.5-.4a1.6 1.6 0 00-2.2 0 1.5 1.5 0 00-.4 1.1v12.5H56.2V46.9a1.5 1.5 0 00-1.5-1.6 1.6 1.6 0 00-1.1.5l-.5.4-2.5-2.4 4.7-4.7h4.1v-3.2h-4.7a1.6 1.6 0 00-1.1.5l-7.3 7.3 6.8 6.9v11.9H75V50.6l2.2-2.2z" transform="translate(-12.5 -3.1)"/>
  <path id="leg-r" d="M71.9 81.2h-3.1V62.5h-3.2v25a1.6 1.6 0 001.6 1.6h7a3.9 3.9 0 003.9-3.9 4 4 0 00-3.1-3.9V62.5h-3.1zm3.1 4a.7.7 0 01-.8.7h-5.4v-1.5h5.4a.7.7 0 01.8.8z" transform="translate(-12.5 -3.1)"/>
</svg>
  <div id="text">
    <div id="letters"></div>
   
    <div id="prompt">
      <span id="guess">
        <label for="guessinput">Adivinhe uma letra</label>
       <input id="guessinput" type="text" />  
        <button id="go"> Tentar!</button>
      </span>
    </div>
    
    
  </div>
</section>

  </div>
  <div class="side-wrapper">
   <div class="project-title">Últimos usuários logados:</div>
   <div class="team-member">
    <img src="https://images.unsplash.com/flagged/photo-1574282893982-ff1675ba4900?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="" class="members">
    <img src="https://assets.codepen.io/3364143/Screen+Shot+2020-08-01+at+12.24.16.png" alt="" class="members">
    <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="" class="members">
    <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&auto=format&fit=crop&w=998&q=80" alt="" class="members">
    <img src="https://images.unsplash.com/photo-1541647376583-8934aaf3448a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="" class="members">
   </div>

  </div>
 
 
 


  <div class="side-wrapper">
   <div class="project-title">desenvolvido por:</div>    <a  href="https://webmonkey.com.br" target="_blank" >  <center> <img src="https://webmonkey.com.br/wp-content/uploads/2021/09/wb.png" alt="" class="members"> </a>

   <div class="team-member">

</div> </div> </div>


 <div class="main-area">
  <div class="header">
    <form method="GET">
       <div class="search-bar">
        <input type="text" name="search-area" value="{{searchinput}}">
       
        </form>

   </div>
   

     <div>
     
     <a class="add-button" href="{% url 'logout' %}"> Sair
     <i class="fas fa-sign-out-alt"></i>
    </a>
    
   </div>
  </div>

{%block content%}




  <div class="main-container">
   <div class="inbox-container">
    <div class="inbox">
 

     {%for task in tasks%}
     <div class="msg selected-bg anim-y">
          {% if task.complete %}
             <input type="checkbox" name="msg" id="mail1" class="mail-choice" checked>
              
          {%else%}
             <input type="checkbox" name="msg" id="mail1" class="mail-choice">

             {%endif%}

      <label for="mail1"> </label>
      <div class="msg-content">
       <div class="msg-title"> {{task.title}} </div>
       <div class="msg-date"> {{task.tipo}}<br> <br><br>
        <div class="msg-date"> {{task.description}} </div> 
       



      <div class="mail-doc-icons">
          <a href="{% url 'task-update' task.id %}"> 
         <i class="fas fa-edit fa-2x"></i> </a>
            
         <a href="{% url 'task-update' task.id %}"> 
          <i class="fas fa-trash fa-2x"></i>
        </a>
        
          </div>

      </div>
       
      </div>

      <img src="{{user.profile.image.url}}" alt="" class="members mail-members">
      
     </div>
   

       {% empty %}

       <br>
      <center> <h4> Não há tarefas em sua lista.</h4> 
      <p>Crie uma nova tarefa.
        
  
    </div> 
      {% endfor %}

     <div class="add-task">
    <a class="add-button" href="{% url 'task-create' %}"> <i class="fas fa-plus"></i> Nova Tarefa  </a>   
    </div>
   </div>

{%endblock content%}
   <div class="calendar-container">
    <div class="calender-tab anim-y">
     <div class="week-month">
      <button class=" button active">Week</button>
      <button class=" button button-month">Month</button>
     </div>
     <div class="month-change">
      <div class="current-month">October</div>
      <div class="current-year">2020</div>
     </div>
     <div class="week-month">
      <button class=" button button-weekends">Weekends</button>
      <button class=" button button-task active">Add task</button>
     </div>
    </div>
    <div class="calendar-wrapper anim-y">
     <div class="calendar">
      <div class="days">Monday</div>
      <div class="days">Tuesday</div>
      <div class="days">Wednesday</div>
      <div class="days">Thursday</div>
      <div class="days">Friday</div>
      <div class="days">Saturday</div>
      <div class="days">Sunday</div>
      <div class="day not-work">31</div>
      <div class="day project-market">1
       <div class="hover-title">Marketing</div>
       <div class="project-detail">Sales report from last month</div>
       <div class="project-detail">Prepare offers for clients</div>
       <div class="popup-check">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><path d="M9 11l3 3L22 4"/><path d="M21 12v7a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h11"/>
        </svg>
       </div>
      </div>
      <div class="day">2</div>
      <div class="day project-design">3
       <div class="project-detail design">Create 3 illustrations for blog post about design trends</div>
      </div>
      <div class="day">4</div>
      <div class="day">5</div>
      <div class="day">6</div>
      <div class="day project-develop">7
       <div class="project-detail develop">Take part in course about future design trends and new technologies</div>
      </div>
      <div class="day">8</div>
      <div class="day">9</div>
      <div class="day">10</div>
      <div class="day">11</div>
      <div class="day">12</div>
      <div class="day">13</div>
      <div class="day">14</div>
      <div class="day project-market">15
       <div class="hover-title">Marketing</div>
       <div class="project-detail">Write an article about design trends</div>
       <div class="popup-check">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><path d="M9 11l3 3L22 4"/><path d="M21 12v7a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h11"/>
        </svg>
       </div>
      </div>
      <div class="day">16</div>
      <div class="day project-market">17
       <div class="hover-title">Marketing</div>
       <div class="project-detail">Create AdWords campaign</div>
       <div class="project-detail">Send newsletter to clients</div>
       <div class="popup-check">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><path d="M9 11l3 3L22 4"/><path d="M21 12v7a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h11"/>
        </svg>
       </div>
      </div>
      <div class="day">18</div>
      <div class="day">19</div>
      <div class="day">20</div>
      <div class="day">21</div>
      <div class="day">22</div>
       <div class="day project-finance">23
        <div class="hover-title">Management</div>
       <div class="project-detail finance">Redesign project ui interface for clients and get feedback</div>
       <div class="popup-check">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><path d="M9 11l3 3L22 4"/><path d="M21 12v7a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h11"/>
        </svg>
       </div>
      </div>
      <div class="day">24</div>
      <div class="day">25</div>
      <div class="day">26</div>
      <div class="day">27</div>
      <div class="day">28</div>
      <div class="day">29</div>
      <div class="day">30</div>
      <div class="day not-work">1</div>
      <div class="day not-work">2</div>
      <div class="day not-work">3</div>
      <div class="day not-work">4</div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="{%static './script.js' %}"></script>
  <script  src="{%static './script-forca.js' %}"></script>

</body>
</html>


