{% extends 'base/task_list.html' %}


 {% block content %}


 
   <div class="mail-detail">
    <div class="mail-detail-header">
     <div class="mail-detail-profile">
      <img src="{{user.profile.image.url}}" alt="" class="members inbox-detail" />
      <div class="mail-detail-name">Olá,   <b style="text-transform: capitalize"/>   {{user.username}}. </b> <p> <small> Veja aqui a sua TAREFA criada: </small> </b> </div>
     </div>
    
     <div class="mail-icons">
     
  
         <a href="{% url 'task-delete' task.id %}"> 
       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
         <path d="M3 6h18M19 6v14a2 2 0 01-2 2H7a2 2 0 01-2-2V6m3 0V4a2 2 0 012-2h4a2 2 0 012 2v2M10 11v6M14 11v6" /></svg>
       </a>
       <a href="{% url 'task-update' task.id %}"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
    
       <path d="M9 11l3 3L22 4" />
       <path d="M21 12v7a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h11" /></svg>
       </a>
     </div>
    </div>
 

    <div class="mail-contents">
     <div class="mail-contents-subject">

          {% if task.complete %}
            <input type="checkbox" name="msg" id="mail20" class="mail-choice" checked>
          {%else%}
            <input type="checkbox" name="msg" id="mail20" class="mail-choice" >
          {%endif%}
       
      <label for="mail20"></label>
      <div class="mail-contents-title">  <i class="fas fa-arrow-circle-right"></i> <big> {{task.title}} </big> </div>
     </div>
     <div class="mail">
      <div class="mail-time">
       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
        <circle cx="12" cy="12" r="10" />
        <path d="M12 6v6l4 2" /></svg>
       {{task.date}}
      </div>


  
      <div class="mail-checklist">
      {% if task.complete %}
       <input type="checkbox" name="msg" id="mail30" class="mail-choice" checked>
       <label for="mail30"> Tarefa concluída.</label>
      
      {%else%}

  <input type="checkbox" name="msg" id="mail30" class="mail-choice" >
       <label for="mail30"> Tarefa não concluída.</label>
    {%endif%}
       </div>
      
      <div class="mail-doc">
       <div class="mail-doc-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
         <path d="M14 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V8z" />
         <path d="M14 2v6h6M16 13H8M16 17H8M10 9H8" /></svg>
        <div class="mail-doc-detail">
         <div class="mail-doc-name"> <b>  </b> <big>  {{task.tipo}} </big> </div>
        </div>
       </div>
       <div class="mail-doc-icons">
       <a href="{% url 'task-delete' task.id %}"> 
       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
         <path d="M3 6h18M19 6v14a2 2 0 01-2 2H7a2 2 0 01-2-2V6m3 0V4a2 2 0 012-2h4a2 2 0 012 2v2M10 11v6M14 11v6" /></svg>
       </a>
       <a href="{% url 'task-update' task.id %}"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
    
       <path d="M9 11l3 3L22 4" />
       <path d="M21 12v7a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h11" /></svg>
       </a>
       </div>
       </div>
     </div>
    </div>
    
    <div class="mail-textarea">
   <div class="textarea-icons">
      <div class="send">
      <a class="add-button" href="{% url 'tasks' %}"> 
     <i class="fas fa-arrow-left"> <big> Voltar </big> </i>
     </a>
     
      </div>     
      </div>
    
      </div>
    </div></div></div>

 {% endblock content %}
